apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: renovate
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    name: renovate-secret
    template:
      data:
        RENOVATE_TOKEN: "{{ .token }}"
        RENOVATE_GITHUB_COM_TOKEN: "{{ .token }}"
  dataFrom:
    - extract:
        key: 3a3ff0b8-a0b0-4287-8924-b428011e113c

