---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflare-tunnel-configmap
data:
  config.yaml: |
    ---
    originRequest:
      originServerName: "external.#{ cloudflare_domain }#"

    ingress:
      - hostname: "*.#{ cloudflare_domain }#"
        originRequest:
          http2Origin: true
          originServerName: "external.#{ cloudflare_domain }#"
        service: https://envoy-external.network.svc.cluster.local:443
      - service: http_status:404
