apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: longhorn-pvc
  namespace: longhorn-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ storage }}
  storageClassName: longhorn
{% if hostname %}
  selector:
    matchLabels:
      kubernetes.io/hostname: {{ hostname }}
{% endif %}