ui = true
cluster_addr  = "https://127.0.0.1:8201"
api_addr      = "https://127.0.0.1:8200"

plugin_directory = "/etc/vault/plugin"

disable_mlock = true

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_cert_file      = "/etc/vault/tls/vault.crt"
  tls_key_file       = "/etc/vault/tls/vault.key"
  
  tls_disable_client_certs = true

}

storage "raft" {
  path    = "/{{ storage_zfs_pool_name }}/{{ storage_nfs_share_name }}/vault"

}
