apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevip
  namespace: kube-system
data:
  cidr-global: {{ kube_vip_lb_ip_range }}                       # CIDR-based range which can be used in any Namespace
